<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="LocalAppDataFolder">
      <Directory Id="RavynUserDataDirectory" Name="Ravyn">
        <Directory Id="RavynBrowserIntegrationDirectory" Name="browser">
          <Component Id="RavynFirefoxNativeHostRegistration" Guid="*">
            <RegistryKey
              Root="HKCU"
              Key="Software\Mozilla\NativeMessagingHosts\com.ravyn.download_manager"
              Action="createAndRemoveOnUninstall"
            >
              <RegistryValue
                Type="string"
                Value="[RavynBrowserIntegrationDirectory]com.ravyn.download_manager.json"
                KeyPath="yes"
              />
            </RegistryKey>
            <RemoveFile
              Id="RemoveRavynFirefoxNativeHostManifest"
              Name="com.ravyn.download_manager.json"
              On="uninstall"
            />
          </Component>
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>
